<div class="row sobrecomud">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 justify-content" id="TextoPrincipal">
        <h1>Listagem de pesos registrados</h1>

        <button id="btn1"  type="button" class="btn btn-primary btn-lg">data de registro</button>
        <button id="btn2" type="button" class="btn btn-secondary btn-lg">seu peso ataual</button>

        <div id="colunRegister" class="row">
            <div class="col">
              <input id="dataRergistro" type="datetime-local" class="form-control" placeholder="DATA DE REGISTRO" aria-label="First name">
            </div>
            ///////
            <div class="col">
              <input id="pesoAtual" type="number" class="form-control" placeholder="Kg" aria-label="Last name">
            </div>
          </div>
          
          
        <p> Digite essas informações para registrar seu progresso e manter seus ganhos atualiados.</p>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button id="btnCadastro" class="btn btn-primary" type="button">Cadastrar</button>
        </div>

    </div>
    <div class="col-md-2">
    </div>
</div>