<div class="row" id="TituloSobre">
    <div class="col-md-12 sobrecomud">
        <h1>Idealizador</h1>
    </div>
</div>
<div class="row centralizar">

    <div class="col-md-3 margem">
        <div class="flip-card mx-auto">
            <div class="flip-card-inner" id="adrian">
                <div class="flip-card-front">
                    <img src="../../../assets/imagensSobre/Adrian.jpg" alt="">
                    <h4>Adrian Ferreira</h4>
                </div>
                <div class="flip-card-back ">
                    <p>Sou entusiasta da tecnologia e acredito no
                        potencial dela para mudar o mundo. Desde
                        pequeno, incentivado pela minha mãe, olho para
                        o futuro com muita expectativa nessa área.
                        Sou persistente, comunicativo e amante do
                        aprendizado.</p>
                </div>
            </div>
        </div>
    </div>